{% extends 'base.twig' %}

{% block body %}
	<div class="container">
		<img src="https://dummyimage.com/1200x400/5b76ba/ffffff" class="img-fluid" alt="...">
		<h1 class="mt-3 mb-3">{{post.title|escape}}</h1>
		<div class="row">
			<span class="text-muted mb-3">Basil Andruscenco | {{post.published_date|date("F d, Y")}}</span>
		</div>
		<div class="row" style="width:1200px">
            <p>{{post.content|raw}}</p>
  
		</div>
	</div>
{% endblock %}

